* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/black-3786986_960_720VVVVVVV.jpg);
  background-position: center;
  background-size: cover;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}
/* nav play in horizental */
.navbar {
  height: 12%;
  display: flex;
  align-items: center;
}
/* logo size */
.logo {
  width: 100px;
  cursor: pointer;
}
/* icon size */
/* .menu-icon {
  width: 30px;
  cursor: pointer;
  margin-left: 40px;
} */
/* make nav go to right */
nav {
  flex: 1;
  text-align: right;
}
/* to make list iteams play in same line with margin between them  */
nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 70px;
}
/* add some decoration to the links  */
nav ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
}
/* shift it to another position */
.row {
  display: flex;
  height: 88%;
  align-items: center;
}
.col {
  flex-basis: 50%;
}
/* add some color to h1  */
h1 {
  color: #fff;
  font-size: 100px;
}
/*  add pargraph style */
p {
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 20px;
  
}
/* button style */
button {
  width: 180px;
  color: #000;
  font-size: 12px;
  padding: 12px 0;
  background: #fff;
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;
}
/* ADD STYLE TO THE CARDS */
.card {
  width: 600px;
  height: 250px;
  display: inline-block;
  border-radius: 10px;
  padding: 25px 30px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
}
.card1 {
  background-image: url(images/education.jpg);
}
.card2 {
  background-image: url(images/Outdoor\ activities.jpg);
}
.card3 {
  background-image: url(images/sports.jpg);
}
.card4 {
  background-image: url(images/cinema-5069314_1280.jpg);
}

/* adding hover effect */
.card:hover {
  transform: translateY(-25px);
}
/* change h5 color */
h5 {
  color: #fff;
  text-shadow: 0 0 15px #000;
  font-size: 18px;
  
}
.card p {
  font-size: 18px;
  text-shadow: 0 0 15px #000;
}
.myname {
  color:#f7b5b2;
  letter-spacing: 1px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 40px;
}
li {
  color: rgb(255, 255, 255);
  font-size: 17px;
}